@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}

body {
	background: #2E3350;
	background: -webkit-linear-gradient(to right, #2E3350, #292d42);
	background: linear-gradient(to right, #2E3350, #2e324b);
    
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Rubik', sans-serif;
	margin: 0;
}

h1 {
	letter-spacing: 3px;
}

.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.pokemon {
	background-color: #2E3350;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	text-align: center;
	
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 420px;
	height: 430px;
	text-align: center;
	display: block;
	margin: 20px auto;
}
.modal-content{
	height: 70vh;
}
.pokemon-type{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.pokemon .img-container img {
	margin-top: 20px;
	max-width: 90%;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemon .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}

caption{
	color: #f1f1f1;
}

/* Collapse */
.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}
  
.active, .collapsible:hover {
	background-color: #555;
}
  
.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}
footer{
	color: #9180ad;
	padding: 20px;
}

@media screen and (max-width: 600px){
	header h1{
		font-size: 30px;
	}
	header p{
		font-size: 15px;
	}
	.logo{
		margin-top: 20px;
		height: 100%;
		width: 300px;
	}
	.pokemon .img-container {
		border-radius: 50%;
		width: 320px;
		height: 330px;
		text-align: center;
		display: block;
		margin: 20px auto;
	}
}